.player-game {
  font-family: 'Arial Rounded MT Bold', sans-serif;
  font-size: 60px;
  line-height: 1;
  user-select: none;
  color: #474747; 
}

.player-game[data-content="X"] { color: #ff7675; }
.player-game[data-content="O"] { color: #54a0ff; }
