.about-link {
    font-weight: bold;
    font-size: 14px;
    color: var(--color-fourth);
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .about-link.-light {
    color: var(--color-zero);
  }