.history-game {
  display: none;
  margin-top: 15px;
  margin-left: 20px;
  width: 100%;
  box-sizing: border-box;
}

.history-game.-active {
  display: block;
}

.history-game > .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}

.history-game > .list .item {
  display: block;
}
