.history-game {
  display: none;
  margin-top: 20px;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;
}

.history-game.-active {
  display: block;
}

.history-game > .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.history-game > .list > .item {
  border-bottom: 1px solid #ddd;
  padding: 5px 0;
}
