.menu::after, .menu::before, .menu > .center {
	content: '';
	display: block;
	background-color: red;
	height: 4px;
	width: 100%;
	border-radius: 2px;
	margin-bottom: 5px;
}

.menu::before, .menu > .center{
	margin-bottom: 5px;
}