.input-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 20px auto;
  font-family: sans-serif;
  color: #333;
  user-select: none;
  width: fit-content;
}

.input-checkbox input {
  margin-right: 15px; 
  cursor: pointer;
  width: 18px;
  height: 18px;
}
