.card-light {
  background-color: #fff;
  width: 95vw;
  max-width: 400px;
  margin: 30px auto;
  padding: 35px;
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
