.menu-game {
  background: none;
  border: none;
  width: 35px;
  height: 25px;
  position: relative;
  cursor: pointer;
  padding: 0;
  text-indent: -9999px; 
  overflow: hidden; 
}

.menu-game::before,
.menu-game::after,
.menu-game .center {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #7f8c8d;
  display: block;
  position: absolute;
  left: 0;
  border-radius: 10px;
  transition: all 0.2s;
}

.menu-game::before {
  top: 0;
}

.menu-game .center {
  top: 50%;
  transform: translateY(-50%);
}

.menu-game::after {
  bottom: 0;
}
