.card-light {
    height: 85vw;
    width: 85vw;
    display: flex;
    margin: auto;
}

.hashtag-game {
    height: 90%;
    width: 90%;
    margin: auto;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: flex-start; 
  padding: 40px 0;
  box-sizing: border-box;
}
