.layer-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: opacity 200ms linear, visibility 200ms linear;
  
  overflow-y: auto; 
  padding-bottom: 50px;
}

.layer-dark.-active {
  visibility: visible;
  opacity: 1;
}
